.App {
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input-field {
  width: 250px;
  height: 40px;
  border-radius: 7px;
  text-align: end;
  padding: 5px;
  font-size: xx-large;
  font-weight: 400;
}

.result {
  margin: 10px;
  font-weight: 500;
  font-size: large;
  color: green;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 5px;
}

button {
  width: 80px;
  height: 80px;
  font-size: larger;
  font-weight: 500;
}

button :hover {
  cursor: pointer;
}

.result {
  margin: 15px;
  font-size: large;
}
